/* reset */  
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}  /* 初始化标签在所有浏览器中的margin、padding值 */  
fieldset,img {border:0 none}  /* 重置fieldset（表单分组）、图片的边框为0*/  
dl,ul,ol,menu,li {list-style:none}   /* 重置类表前导符号为onne,menu在HTML5中有效 */  
blockquote, q {quotes: none}   /* 重置嵌套引用的引号类型 */  
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}  /* 重置嵌套引用*/  
input,select,textarea,button {vertical-align:middle}  /* 重置表单控件垂直居中*/  
button {border:0 none;background-color:transparent;cursor:pointer}  /* 重置表单button按钮效果 */  
body {}   /* 重置body 页面背景为白色 */  
body,th,td,input,select,textarea,button {font-size:12px;line-height:1 ;font-family:"微软雅黑", "黑体","宋体";color:#666} /* 重置页面文字属性 */  
a {color:#666;text-decoration:none}  /* 重置链接a标签 */  
a:active, a:hover {text-decoration:none}   /* 重置链接a标签的鼠标滑动效果 */  
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}  /* 重置样式标签的样式 */  
caption {display:none;}    /* 重置表格标题为隐藏 */  
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}    /* 重置table属性 */  
img{vertical-align:top}  /* 图片在当前行内的垂直位置 */  
* {margin: 0;padding: 0;}
/* 页面设置 */   
/* 取消a标签点击后的虚线框 */  
a {outline: none;}     
/*清除浮动*/  
.clear{clear: both;}  
  
/*清除浮动--推荐使用*/  
.clearfix:before,.clearfix:after{content: '';display: table;}  
.clearfix:after{clear: both;}


@import "./logo.less";



body,html {
    height: 100%;
}
#root {
    // background: url('../images/logo.png');
    // display: flex;
    height: 100%;
    width: 100%;
    z-index: -2;
 }

.topbar {
    position: relative;
    height: 50px;
    background: #00ADB5;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
    padding: 12px;
    box-shadow: 1px 1px 5px #222831;
}

.topbar span {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    vertical-align: middle;
}

.topbar-left-circle {
    vertical-align: middle;
    position: absolute;
    left: 4%;
    bottom:11%;
    cursor: pointer;
    padding: 10px;
}

.TrackCard {
    margin: 6%;
}

.topbar-icon {
    position: absolute;
    vertical-align: middle;
    margin-right: 10px;
    top: 18px;
    left: 34%;
}
.guide-header {
    width: 100%;
    overflow: auto;
    text-align: center;
}

.guide-content {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 667px;
    overflow: auto;
}
.search {
    z-index: 100;
    position: absolute;
    margin: 20px 0;
}

.avatar {
    position: absolute;
    left: -40px;
    top: -50px;
}

.school-around {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 50px;
    left: 0;
    bottom: 0;
    background: rgba(34, 40, 49, 0.9);   // #222831
    text-align: center;
    box-shadow: 2px -2px 3px #EEEEEE;
    p {
        color: #fff;
    }
}

.environment {
    font-size: 22px;
    margin-top: 5px;
    color: #108ee9;
    &+p {
        color: #fff;
    }
}

.school {
    display: flex;
    background: rgba(238, 238, 238, 0.2); 
    height: 120px;
    margin: 20px 0;
    border-radius: 2px;
    box-shadow: 1px 1px 3px #EEEEEE;
    padding:  20px 30px 30px 30px;
    img {
        width:70px;
        height: 70px;
        display: inline-block;
        background-position: center;
        background-size: cover;

    }
    p {
        display: inline-block;
        font-size: 14px;
        color: #393E46;
        margin:0 0 10px 20px;
        span {
            padding: 0 4px;
            font-weight: bold;
        }
    }
    div {
        display: inline-block;
        &:first-child {
            flex:0 70px;
        }
        &:last-child {
            flex:1;
            padding: 10px;
        }
    }
}

.menu {
     z-index: 100;
    position: relative;
     width: 50%;
    text-align: center;
}